{% load static %}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
        </head>
        <body>
                <div class="topnav">
                    <a class="active" id="bb" href="{% url 'home' %}">Home</a>
                    <a class="active" href="{% url 'records' %}" title="Admin">
                        <i class="fas fa-user-shield fa-lg"></i> Admin</a>
                    <a class="active" href="{% url 'contact' %}">
                        <i class="fas fa-address-book fa-lg"></i> About</a>
                    <a class="active" href="{% url 'course' %}">
                        <i class="fas fa-book fa-lg"></i> Course</a>
                    {% if user.is_authenticated %}
                        <a class="opp" id="bb" href="{% url 'logout' %}">Logout</a>
                        <a class="opp">Hello, {{user.username}}</a>
                    {% else %}
                        <a class="opp" id="bb" href="{% url 'login' %}" title="Student">
                        <i class="fas fa-door-open fa-lg"></i> Login</a>
                    {% endif %}
                </div>
            {% block content %}
            {% endblock content %}
                <script type="text/javascript" src="{% static 'JS/main.js' %}"></script>
                <script src="https://kit.fontawesome.com/1285c02b37.js" crossorigin="anonymous"></script>
        </body>
        <footer id="foot">testing footer section</footer>
    </html>