{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Info_Us</title>
    </head>
    <body>
        <br>
        <center>
            <p id="pi"> test page</p>
            <a class="active" href="{% url 'home' %}">Home</a>
            <a class="" href="{% url 'new' %}">Register</a>
            <a class="" href="{% url 'records' %}">Admin</a>
            <a class="" href="">Student</a>
            <a class="" href="{% url 'contact' %}" title="WTF bruh.....">Login</a>
            <a class="ui-tooltip" title="INFO! INFO!! INFO!!!">
                <span style="cursor">Text that you want to show the tooltip when hovered over.
                </span>
            </a>
            <br>
            <br>
            <button class="button" onclick="con()" value="bt">TEST BUTTON</button>
        </center>
    </body>
</html>
{% endblock content %}