{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Python-Django Project">
        <meta name="keywords" content="bijujohn.pythonanywhere.com">
        <meta name="author" content="John Paul">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info_Us</title>
    </head>
    <body>
        <br>
        <center>
            <br>
            <br>
            <button class="button b2" onclick="con()" value="bt">TEST BUTTON</button><br><br><br>
            <input type="button" class="button b3"  name="button-1" value="TEST BUTTON 2" onclick="con()">
            <br><br><br>
            <input type="button" class="button b5" onclick="con()" value="TEST BUTTON 3">
        </center>
    </body>
</html>
{% endblock content %}