{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body id="cbdy">
    <div class="grid-container1">
        <div class="overlay1">
            <div class="text1">
                <p>C programming is considered as the base for other programming languages, it is known as mother language</p>
                <p>C language is a system programming language because it can be used to do low-level programming</p>
                <p>It is generally used to create hardware devices, OS, drivers, kernels, etc. (i.e) Linux kernel is written in C</p>
                <p>It is General Purpose Programming Language used to develop operating systems, embedded systems, database and so on. </p>
            </div>
        </div>
        <img class="ig1" src="{% static 'course/c.jpg' %}">
    </div>
    <div class="grid-container2">
        <div class="overlay2">
            <div class="text2">
                <p>C++ supports at least seven different styles of programming. Developers can choose any of the styles</p>
                <p>You can use C++ to develop games, desktop apps, operating systems, and so on</p>
                <p>Like C programming, the performance of optimized C++ code is exceptional</p>
                <p>C++ allows you to divide complex problems into smaller sets by using objects</p>
            </div>
        </div>
        <img class="ig2" src="{% static 'course/c++.jpg' %}">
    </div>
    <div class="grid-container3">
        <div class="overlay3">
            <div class="text3">
                <p>Python is an interpreted, high-level and general-purpose programming language</p>
                <p>It is dynamically-typed and garbage-collected. It supports multiple programming paradigms</p>
                <p>Fewer keywords and more free English language syntax and hence User Friendly</p>
                <p>Python offers key access to various fields like ML, Data Science, Robotics etc.</p>
            </div>
        </div>
        <img class="ig3" src="{% static 'course/python.jpg' %}">
    </div>
    <div class="grid-container4">
        <div class="overlay4">
            <div class="text4">
                <p>Java is a class-based, object-oriented programming Language <i>write once, run everywhere</i></p>
                <p>It is robust, secure, and executes with high speed performance</p>
                <p>The syntax is based on C++ and it's easier to learn after C++</p>
                <p>Java is an object-oriented programming language. Everything in Java is an object</p>
            </div>
        </div>
        <img class="ig4" src="{% static 'course/java.jpg' %}">
    </div>
    <div class="grid-container5">
        <div class="overlay5">
            <div class="text5">
                <p>PHP is a general-purpose server side scripting language</p>
                <p>It is used to develop Static websites or Dynamic websites or Web applications</p>
                <p>PHP scripts can only be interpreted on a server that has PHP installed</p>
                <p>The client computers accessing the PHP scripts require a web browser only</p>
            </div>
        </div>
        <img class="ig5" src="{% static 'course/php.jpg' %}">
    </div>
    <div class="grid-container6">
        <div class="overlay6">
            <div class="text6">
                <p>The .NET Framework is a software framework that runs primarily on Microsoft Windows</p>
                <p>.NET is a free, cross-platform,You can write .NET apps in C#, F#, or Visual Basic</p>
                <p>You can use multiple languages, editors, and libraries to build for web, mobile, desktop, games, and IoT</p>
                <p>You can build many types of apps with .NET. Some are cross-platform, and some target a specific OS</p>
            </div>
        </div>
        <img class="ig5" src="{% static 'course/dotnet.jpg' %}">
    </div>
    <button onclick="tp()" id="tpbtn">TOP</button>
    <script type="text/javascript" src="{% static 'JS/main.js' %}"></script>
</body>
</html>
{% endblock %}