{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<body id="cbdy">
    <div class="grid-container1">
        <div class="overlay1">
            <div class="text1">
                <p>C Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>One can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
        <img class="ig1" src="{% static 'course/c.jpg' %}">
    </div>
    <div class="grid-container2">
        <div class="overlay2">
            <div class="text2">
                <p>C++ Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
        <img class="ig2" src="{% static 'course/c++.jpg' %}">
    </div>
    <div class="grid-container3">
        <div class="overlay3">
            <div class="text3">
                <p>Python Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
        <img class="ig3" src="{% static 'course/python.jpg' %}">
    </div>
    <div class="grid-container4">
        <div class="overlay4">
            <div class="text4">
                <p>Java Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
        <img class="ig4" src="{% static 'course/java.jpg' %}">
    </div>
    <div class="grid-container5">
        <div class="overlay5">
            <div class="text5">
                <p>PHP is a general-purpose server side scripting language</p>
                <p>It is used to develop Static websites or Dynamic websites or Web applications</p>
                <p>PHP scripts can only be interpreted on a server that has PHP installed</p>
                <p>The client computers accessing the PHP scripts require a web browser only</p>
            </div>
        </div>
        <img class="ig5" src="{% static 'course/php.jpg' %}">
    </div>
    <div class="grid-container6">
        <div class="overlay6">
            <div class="text6">
                <p>The .NET Framework is a software framework developed by Microsoft that runs primarily on Microsoft Windows</p>
                <p>.NET is a free, cross-platform,You can write .NET apps in C#, F#, or Visual Basic</p>
                <p>With .NET, you can use multiple languages, editors, and libraries to build for web, mobile, desktop, games, and IoT</p>
                <p>You can build many types of apps with .NET. Some are cross-platform, and some target a specific OS or .NET implementation</p>
            </div>
        </div>
        <img class="ig5" src="{% static 'course/dotnet.jpg' %}">
    </div>
</body>
</html>
{% endblock %}