{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<body id="cbdy">
    <div class="grid-container1">
        <div class="overlay1">
            <div class="text text1">
                <p>C Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
            <img class="ig1" src="{% static 'extras/c.jpg' %}">
    </div>
    <div class="grid-container2">
        <div class="overlay2">
            <div class="text text2">
                <p>C++ Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
            <img class="ig2" src="{% static 'extras/c++.jpg' %}">
    </div>
    <div class="grid-container3">
        <div class="overlay3">
            <div class="text text3">
                <p>Python Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
            <img class="ig3" src="{% static 'extras/python.jpg' %}">
    </div>
    <div class="grid-container4">
        <div class="overlay4">
            <div class="text text4">
                <p>Java Programming Language is a very popular computer programming language through which users and computers can communicate</p>
                <p>Using this series of tutorials, one can learn C Programming Language from the basics</p>
                <p>Every topic in these tutorials is explained with clear information and good examples</p>
                <p>The content of all the topics is prepared by very experienced and expert faculty</p>
            </div>
        </div>
            <img class="ig4" src="{% static 'extras/java.jpg' %}">
    </div>
</body>
</html>
{% endblock %}