{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="description" content="Python-Django Project">
       <meta name="keywords" content="bijujohn.pythonanywhere.com">
       <meta name="author" content="John Paul">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Delete Page</title>
   </head>
   <body onload="redirect()">
        {% if user.is_superuser %}
            <center>
                <br>
                <br>
                <h2>This process will Delete the data you've selected</h2>
                    <form method="post">
                        {% csrf_token %}
                        <p>Delete this record?</p>
                            <input type="submit" value="yes">
                            <input type="button" value="no" onclick="window.location.href='{% url 'records' %}'">
                    </form>
            </center>
        {% else %}
            <script>
                function redirect(){alert("Not an Admin--Redirecting....");window.location.replace('{% url 'home' %}');}
            </script>
        {% endif %}
   </body>
</html>
{% endblock content%}