{% extends 'base.html' %}
{% load static %}
{% block content %}
    <html>
        <head>
            <title>Home</title>
        </head>
        <body id="hmpg-body-clr">
            <center>
                <br>
                <br>
                <h1>WELCOME TO E-LEAF TECHNOLOGIES & PVT.LTD</h1>
                <img id="q" src="{% static 'images/eleaf.jpg' %}">
                <br>
                <br>
                <p id="hmpg-para-font">We are here to welcome and support our valued clients and their products for the past over 5 years.</p>
                <p id="hmpg-para-font">And also we are looking for best charming and innovative candidates to work on our upcoming projects.</p>
                <p id="hmpg-para-font">So, Please kindly reach us at <a class="hyper" href=""><b>career@eleaftech.com</b></a></p>
                <p id="hmpg-para-font">Do register yourself for the Available course from us</p>
                <br>
            </center>
        </body>
    </html>
{%endblock content%}