{% extends 'index.html' %}
{% load static %}
{% block content %}
    <html>
        <head>
            <title>IIITES</title>
        </head>
        <body id="hmpg-body-clr">
            <center>
                <br>
                <br>
                <h1>Welcome To Indian Institute of Information Technology Enabled Services</h1>
                <img id="img01" src="{% static 'images/logo.jpg' %}">
                <br>
                <br>
                <img id="img03" src="{% static 'images/success.jpg' %}">
                <div id="words">
                <p>We are teaching and training students in different courses for the past 5 years and present. Also, we are looking for best charming and innovative candidates to work on our upcoming projects</p>
                <p>Which enables students to take participate in various programming practices and very attentive in live projects.</p>
                <p>So, Please kindly reach us at <a class="hyper" href=""><b>career@eleaftech.com</b></a> If you see fit to teach good Value and Education to our Students.</p>
                    <label>---FOR STUDENTS ONLY---</label>
                <p>Register yourself for the Available course. Upon joining you'll get welcome kit along with access to our<i>Virtual lab</i></p>
                <p>valid after 1Yr of course completion.</p>
                </div>
                <br>
            </center>
        </body>
    </html>
{%endblock content%}