{% load static %}
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
            <link rel="stylesheet" type="text/css" href="">
            <script src="https://kit.fontawesome.com/1285c02b37.js" crossorigin="anonymous"></script>
        </head>
        <body>
            <center>
                <div class="topnav">
                    <a class="active" href="{% url 'home' %}">Home</a>
                    <a class="" href="{% url 'new' %}"><i class="fas fa-laptop-code fa-lg" title="Account Registration"></i></a>
                    <a class="" href="{% url 'records' %}"><i class="fas fa-user-shield fa-lg" title="Admin-Login"></i></a>
                    <a class="" href=""><i class="fas fa-user-graduate fa-lg" title="Student-Login"></i></a>
                    <a class="" href="{% url 'contact' %}"><i class="fas fa-address-book fa-lg" title="Contact us info"></i></a>
                    <a class="opp" href="{% url 'sign' %}"><i class="fas fa-door-open fa-lg" title="Login"></i></a>
                </div>
            </center>
            {% block content %}
            {% endblock content %}
        <script src="{% static 'JS/main.js' %}"></script>
        </body>
    </html>