{% load static %}
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
            <link rel="stylesheet" type="text/css" href="">
            <script src="https://kit.fontawesome.com/1285c02b37.js" crossorigin="anonymous"></script>
        </head>
        <body>
            <center>
                <div class="topnav">
                    <a class="active" id="bb" href="{% url 'home' %}">Home</a>
                    <a class="" href="{% url 'new' %}" title="Account Registration">
                        <i class="fas fa-laptop-code fa-lg" title="Account Registration"></i></a>
                    <a class="" href="{% url 'records' %}" title="Admin-Login">
                        <i class="fas fa-user-shield fa-lg" title="Admin-Login"></i></a>
                    <a class="" href="" title="Student-Login">
                        <i class="fas fa-user-graduate fa-lg" title="Student-Login"></i></a>
                    <a class="" href="{% url 'contact' %}" title="About Us">
                        <i class="fas fa-address-book fa-lg" title="About Us"></i></a>
                    <a class="opp" id="bb" href="{% url 'sign' %}" title="Login">
                        <!--<i class="fas fa-door-open fa-lg" title="Login"></i>-->Login</a>
                </div>
            </center>
            {% block content %}
            {% endblock content %}
        <script src="{% static 'JS/main.js' %}"></script>
        </body>
    </html>