{% extends 'base.html' %}
{% load static %}
{% block content %}
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>IIITES</title>
        </head>
        <body id="hmpg-body-clr">
            <center>
                <br>
                <h1>Welcome To Indian Institute of Information Technology Enabled Services</h1>
                <img id="img01" src="{% static 'images/logo.jpg' %}">
                <br>
                <br>
                <div id="words">
                    <p>We are training students in different courses over past 5 years. We are looking for best charming and innovative candidates to work on our upcoming projects</p>
                    <p>Which enables students to take participate in various programming practices and skill full in live projects.</p>
                    <p>So, Please kindly reach us at <a class="hyper" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=career@eleaftech.com"><b>career@eleaftech.com</b></a>
                    If you see yourself capable of teaching good Value and Education to our Students.</p>
                        <br><label><b><u>FOR STUDENTS ONLY</u></b></label>
                    <p>Register yourself for the Available course. Upon joining you'll get welcome kit along with an access to our <i><b>Virtual lab Environment</b></i></p>
                    <p>Access valid after 1Yr of course completion.</p>
                </div>
                <br>
            </center>
        </body>
    </html>
{%endblock content%}