{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User-Login</title>
    </head>
    <body>
        <center>
        <br>
        <br>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset id="fieldset02">
                    <legend align="center">
                        <label><b>REGISTER</b></label>
                    </legend>
                    <label><b>First Name:</b></label><input id="in01" type="text" name="uname" required><br><br>
                    <label><b>Last Name:</b></label><input id="in02" type="text" name="psw" required><br><br>
                    <label><b>User Name:</b></label><input id="in03" type="text" placeholder="enter username ex.'joy@12'" name="mail" required><br><br>
                    <label><b>Email-ID:</b></label><input id="in04" type="email" placeholder="Enter your mail id"><br><br>
                    <button class="button" type="submit" onclick="con()">Login</button>
                </fieldset>
            </form>
        </div>
        </center>
    </body>
</html>
{% endblock content %}