{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User-Login</title>
    </head>
    <body id="body_login">
        <center>
        <br>
        <br>
        <div class="container">
            <form method="POST" name="form-1" autocomplete="off">
                {% csrf_token %}
                <fieldset id="fieldset02">
                    <label><b>First Name </b></label>
                    <input id="in01" type="text" name="fname" required  onfocus="con()"><br><br>
                    <label><b>Last Name </b></label>
                    <input id="in02" type="text" name="lname" required><br><br>
                    <label><b>User Name </b></label>
                    <input id="in03" type="text" placeholder="enter username ex.'joy@12'" name="uname" required><br><br>
                    <label><b>Email-ID  </b></label>
                    <input id="in04" type="email" placeholder="Enter your mail id" name="mail" required><br><br>
                    <button class="button b4" value="post" type="submit">Login</button>
                </fieldset>
            </form>
        </div>
        </center>
    </body>
</html>
{% endblock content %}