{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User-Login</title>
    </head>
    <body id="body_login">
        <center>
        <br>
        <br>
        <div class="container">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <fieldset id="fieldset02">
                    <label><b>User Name </b></label>
                        <input id="in 01" type="text" placeholder="enter username ex.'joy@12'" name="uname" required><br><br>
                    <label><b>Password </b></label>
                        <input id="in 02" type="text" placeholder="enter password" name="pwd" required><br><br>
                    <label><b>Email-ID  </b></label>
                        <input id="in 03" type="email" placeholder="Enter your mail id" name="mail" required><br><br>
                    <button class="button b4" value="post" type="submit">Login</button>
                </fieldset>
            </form>
        </div>
        </center>
    </body>
</html>
{% endblock content %}