{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Authentication</title>
    </head>
    <body>
        <center>
        <br>
        <br>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset id="fieldset02">
                    <div class="block">
                        <label><b>User Name </b></label>
                            <input type="text" id="in01" name="un" autocomplete="off" required><br><br>
                    </div>
                    <div class="block">
                        <label><b>Password </b></label>
                            <input type="password" id="in01" name="pd" autocomplete="off" required><br><br>
                    </div>
                    <button class="bt1" type="submit">Login</button>

                </fieldset>
            </form>
        </div>
            {% for message in messages %}
                    <center>
                        <div class="alert">
                            <span class="msg" onclick="this.parentElement.style.display='none';">&times</span>
                            <strong>{{message}}</strong>
                        </div>
                    </center>
            {% endfor %}
        </center>
    </body>
</html>
{% endblock content %}