{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Authentication</title>
    </head>
    <body>
        <center>
        <br>
        <br>
        <div class="container">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <fieldset id="fieldset02">
                    <label><b>User Name </b></label>
                        <input id="in 01" type="text" placeholder="" name="un" required><br><br>
                    <label><b>Password </b></label>
                        <input id="in 02" type="password" placeholder="" name="pd" required><br><br>
                    <button class="button b4" type="submit">Login</button>
                    {% for message in messages %}
                    <center><p>{{message}}</p></center>
                    {% endfor %}
                </fieldset>

            </form>
        </div>
        </center>
    </body>
</html>
{% endblock content %}