{%extends 'index.html' %}
{% load static %}
{% block content%}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Registration</title>
        </head>
        <body class="cover">    
            <center>
            <br>
            <!--<h2 id="h2h"><u>-:Student Registration:-</u></h2>-->
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="field01">
                            <legend align="center">
                                <label><b>REGISTER</b></label>
                            </legend>
                                {{form.as_p}}
                            <input class="button bt1" type="submit" value="Register" name="i1" onclick="con()" align="center">
                        </fieldset>
                    </form>
            </center>
        </body>
    </html>
{% endblock content%}