{%extends 'index.html' %}
{% load static %}
{% block content%}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Registration</title>
        </head>
        <body class="cover">    
            <center>
            <br>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="field01">
                            <legend align="center">
                                <label><b>REGISTER</b></label>
                            </legend>
                                {{form.as_p}}
                            <div class="button bt1">
                                <button type="submit" name="i1" onclick="con()">TEST</button>
                            </div>
                        </fieldset>
                    </form>
            </center>
        </body>
    </html>
{% endblock content%}