{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Python-Django Project">
        <meta name="keywords" content="bijujohn.pythonanywhere.com">
        <meta name="author" content="John Paul">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Management</title>
    </head>
    <body onload="on()" id="rcd-pg">
        {% if user.is_superuser %}
            <center>
                <br>
                <br>
                <h2>---Student Database---</h2>
                <table cellpadding="14px" cellspacing="2" bgcolor="orange" border="2" align="center">
                    <tr bgcolor="violet">
                        <th>Si.no</th>
                        <th>Student Name</th>
                        <th>Course Detail</th>
                        <th>Fees Details</th>
                        <th>Session login</th>
                        <th>Student Attendance</th>
                        <th>Date & Time</th>
                        <th colspan="2">Controls</th>
                    </tr>
                        {% for Data in object_list %}
                            <tr align="center">
                                <td>{{Data.id}}</td>
                                <td>{{Data.name}}</td>
                                <td>{{Data.course}}</td>
                                {% if Data.amount < 15000 %}
                                    <td bgcolor="red">{{Data.amount}}</td>
                                {% else %}
                                    <td>{{Data.amount}}</td>
                                {% endif %}
                                <td>{{Data.session}}</td>
                                {% if 'N' in Data.attendance %}
                                    <td bgcolor="red">{{Data.attendance}}</td>
                                {% else %}
                                    <td>{{Data.attendance}}</td>
                                {% endif %}
                                <td>{{Data.date}}</td>
                                <td><a href="{% url 'edit' Data.pk %}"><img src="{% static 'images/edit.jpg' %}" width="18" height="18"></a></td>
                                <td><a href="{% url 'delete' Data.pk %}"><img src="{% static 'images/del.jpg '%}" width="18" height="18"></a></td>
                            </tr>
                        {% endfor %}
                </table>
            </center>
        {% else %}
            <script>
                function on(){document.getElementById("overlay").style.display = "block";}
            </script>
            <center>
            <div id="overlay">
                <h1 id="head1">AUTHORIZED PERSONNEL ONLY</h1>
                <form method="POST" action='admin_verify'>
                    {% csrf_token %}
                    <fieldset id="fieldset03">
                        <div class="block">
                            <input type="text" id="in02" name="un" autocomplete="off" placeholder="username" required><br><br>
                        </div>
                        <div class="block">
                            <input type="password" id="in02" name="pd" autocomplete="off" placeholder="password" required><br><br>
                        </div>
                        <button class="bt2" type="submit" name="prog">Login</button>
                    </fieldset>
                </form>
                <img id="img03" src="{% static 'images/warning.jpg' %}">
            </div>
            </center>
        {% endif %}
<!--<input id="usr" type="text" name="un" required >
<input id="pwd" type="password" name="pd" required>
<script type="text/javascript" src="{% static 'JS/main.js' %}"></script>-->
    </body>
</html>
{% endblock content %}

