{% extends 'base.html' %}
{% load static %}
{% block content%}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>
            <h4>SEARCH RESULTS FOR </h4>
                <form method="get" action="." style="margin: 0">
                    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
                    <button id="search_submit" type="submit" >Submit</button>
                </form>
        </body>
    </html>
{% endblock content %}