{% extends 'index.html' %}
{% load static %}
{% block content%}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Update Form</title>
        </head>
        <body>
            <center>
                <h2><u>Update Form:</u></h2>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Update">
                    </form>
            </center>
        </body>
    </html>
{% endblock content%}