{% extends 'index.html' %}
{% load static %}
{% block content %}
    <html>
        <head>
            <title>Home</title>
        </head>
        <body id="hmpg-body-clr">
            <center>
                <br>
                <br>
                <h1>Welcome To Indian Institute of Information Technology Enabled Services</h1>
                <img id="q" src="{% static 'images/logo.jpg' %}">
                <br>
                <br>
                <div id="words">
                <p>We are here to welcome and support our valued clients and their products for the past over 5 years.</p>
                <p>And also we are looking for best charming and innovative candidates to work on our upcoming projects.</p>
                <p>So, Please kindly reach us at <a class="hyper" href=""><b>career@eleaftech.com</b></a></p>
                <p>Do register yourself for the Available course from us</p>
                </div>
                <br>
            </center>
        </body>
    </html>
{%endblock content%}